.container-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    text-transform: capitalize;
    /* background-color: rgba(154, 154, 154, 0.1); */
}

.modal-img-name {
    text-align: center;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 5%;
    background-color: rgba(154, 154, 154, 0.1);

}

.allRight-modal {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.date-rated-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vote-modal {
    display: flex;
    align-items: center;
    gap: 5px;
}