.containerSearch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}